/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    background-color: #333;
    color: white;
    height: 5%;
  }
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      gap: 10px;
    }
  }

  .navbar-logo-image{
    height: 40px;
    padding: 0px 30px;
  }

  .logout{
    
    cursor: pointer;
    
  }
  
  
  li :hover{
    color: #0e38c2;
    text-decoration: underline;
  }